// This file is for defining pages.

canvas {
    position: fixed !important;
}


.flow-over {
    // position: absolute;
    position: fixed !important;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background: rgba(3,9,23, 0.6);
    .flow-bg {
        left: 0px;
        top: 0px;
        z-index: 1;
        width: 100%;
        height: 100vh;
        // background-image: url('./../../nStatic/img/linebg.png');
    }
    // background: linear-gradient(0deg, rgba(3,9,23,1) 0%, rgba(3,9,23,0) 100%);
}

main {
    position: relative;
    z-index: 2;
}

.container--Profile {
    display: block;
    .header-container {
        background-image: url('./../../nStatic/img/background2.png');
        min-height: 100vh;
        background-repeat: no-repeat;
        background-position: center -50px;
        background-size: contain;
        @include media-breakpoint-down(sm) {
            background-position: center 80px;
            background-size: 125%;
        }
        .arrow-strapper {
            margin-top: 65vh;
            @include media-breakpoint-down(sm) {
                margin-top: 70vh;
            }
        }
    }

    .blurb-container {
        margin-top: 270px;
        margin-bottom: 270px;
        p {
            line-height: 165%;
            font-family: 'Archivo', sans-serif;
            display: block;
        }
    }

    .technologies-container {
        font-family: 'Archivo', sans-serif;
        margin-bottom: 270px;
        .tech-jumbo {
            min-height: 400px;
            background-position: center;
            background-size: 105%;
            margin-bottom: 30px;
            .title-container {
                margin-top: 150px;
                height: 86px;
            }
            .arrow-container {
                height: 100px;
            }
        }
        .col-bar {
            border-right: 1px solid #391E3B;
        }
        p {
            color: #FEF0FF;
            font-size: 18px;
            line-height: 165%;
            display: block;
        }
        h3 {
            font-size: 22px;
            color: #AF36B9;
            line-height: 165%;
            display: block;
            font-weight: 600;
        }
        .tech-row {
            margin-bottom: 25px;
            .icon {
                i {
                    font-size: 20px;
                    color: white;
                }
            }
            .tech {
                font-size: 20px;
                color: #C5C6C7;
            }
            .grade {
                font-size: 20px;
            }
        }
    }

    .companies-container {
        font-family: 'Archivo', sans-serif;
        margin-bottom: 270px;
        .companies-jumbo {
            min-height: 400px;
            background-position: center;
            background-size: 105%;
            margin-bottom: 30px;
            .title-container {
                margin-top: 150px;
                height: 86px;
            }
            .arrow-container {
                height: 100px;
            }
        }
        .companies-blurb {
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid #391E3B;
        }
        .brand-container {
            min-height: 210px;
            margin-bottom: 30px;
            &.energia {
                background-image: url('./../../nStatic/img/p-energia.png');
                background-size: 70%;
                background-position: center;
                background-repeat: no-repeat;
            }
            &.hornby {
                background-image: url('./../../nStatic/img/p-hornby.png');
                background-size: 70%;
                background-position: center;
                background-repeat: no-repeat;
            }
            &.gym {
                background-image: url('./../../nStatic/img/p-gym.png');
                background-size: 70%;
                background-position: center;
                background-repeat: no-repeat;
            }
            &.ferries {
                background-image: url('./../../nStatic/img/p-ferries.png');
                background-size: 70%;
                background-position: center;
                background-repeat: no-repeat;
            }
            &.permtsb {
                background-image: url('./../../nStatic/img/p-tsb.png');
                background-size: 70%;
                background-position: center;
                background-repeat: no-repeat;
            }
            &.analysys {
                background-image: url('./../../nStatic/img/p-ana.png');
                background-size: 70%;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        p {
            color: #FEF0FF;
            font-size: 18px;
            line-height: 165%;
            display: block;
        }
        h3 {
            font-size: 22px;
            color: #AF36B9;
            line-height: 165%;
            display: block;
            font-weight: 600;
        }
    }

}