// This file is for defining pages.

.roller {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: block;
    z-index: 9;
    text-align: center;
    transform: scale(0.0);
    transition-property: all;
    transition-property: transform;
    transition-duration: 2s;
    &.big {
        transform: scale(20); 
    }
    .ring {
        display: inline-block;
        width: 100vh;
        height: 100vh;
        border-radius: 50vh;
        border: 300px solid #AF36B9;
        @include media-breakpoint-down(sm) {
            border: 100px solid #AF36B9;
        }
    }
}

.nav-bar {
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    height: 50px;
    background: rgba(3,9,23, 0.8);
    width: 100%;
    text-align: center;

    padding-top: 5px;
    span {
        font-family: 'Archivo', sans-serif;
        font-size: 14px;
        display: inline-block;
        cursor: pointer;
        border-bottom: 1px solid #AF36B9;
        margin: {
            left: 10px;
            right: 10px;
        }
        padding: {
            left: 10px;
            right: 10px;
        }
    }
    span:last-of-type {
        // border-right: 0px;
    }
}

canvas {
    position: fixed !important;
}


.flow-over {
    position: fixed !important;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background: rgba(3,9,23, 0.6);
    .flow-bg {
        left: 0px;
        top: 0px;
        z-index: 1;
        width: 100%;
        height: 100vh;
    }
}

main {
    position: relative;
    z-index: 2;
}

.position-container {
    @include centerer;
}

.container--Profile {
    display: block;
    .header-container {
        background-image: url('./../../nStatic/img/background2.png');
        min-height: 100vh;
        background-repeat: no-repeat;
        background-position: center -100px;
        background-size: contain;
        @include media-breakpoint-down(sm) {
            background-position: center 80px;
            background-size: 125%;
        }
        .arrow-strapper {
            padding-top: 75vh;
            background-repeat: no-repeat;
            background-position: left center;
            @include media-breakpoint-down(sm) {
                margin-top: 70vh;
            }
        }
    }

    .blurb-container {
        min-height: 100vh;
        position: relative;
        .position-container {
            @include centerer;
            p {
                line-height: 165%;
                font-family: 'Archivo', sans-serif;
                display: block;
            }
        }

    }

    .technologies-container {
        font-family: 'Archivo', sans-serif;
        margin-bottom: 270px;
        min-height: 100vh;
        .tech-jumbo {
            min-height: 400px;
            margin-bottom: 30px;
            position: relative;
            .title-container {
                margin-top: 150px;
                height: 86px;
                margin-bottom: 30px;
            }
            .arrow-container {
                height: 100px;
            }
        }
        .col-bar {
            border-right: 1px solid #391E3B;
        }
        p {
            color: #FEF0FF;
            font-size: 18px;
            line-height: 165%;
            display: block;
        }
        h3 {
            font-size: 22px;
            color: #AF36B9;
            line-height: 165%;
            display: block;
            font-weight: 600;
        }
        .tech-row {
            margin-bottom: 25px;
            .icon {
                i {
                    font-size: 20px;
                    color: white;
                }
            }
            .tech {
                font-size: 20px;
                color: #C5C6C7;
            }
            .grade {
                font-size: 20px;
            }
        }
    }

    .companies-container {
        font-family: 'Archivo', sans-serif;
        margin-bottom: 270px;
        .companies-jumbo {
            min-height: 400px;
            background-position: center;
            background-size: 105%;
            margin-bottom: 30px;
            .title-container {
                margin-top: 150px;
                height: 86px;
            }
            .arrow-container {
                height: 100px;
            }
        }
        .companies-blurb {
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid #391E3B;
        }
        .brand-container {
            min-height: 210px;
            margin-bottom: 30px;
            &.energia {
                background-image: url('./../../nStatic/img/p-energia.png');
                background-size: 70%;
                background-position: center;
                background-repeat: no-repeat;
            }
            &.hornby {
                background-image: url('./../../nStatic/img/p-hornby.png');
                background-size: 70%;
                background-position: center;
                background-repeat: no-repeat;
            }
            &.gym {
                background-image: url('./../../nStatic/img/p-gym.png');
                background-size: 70%;
                background-position: center;
                background-repeat: no-repeat;
            }
            &.ferries {
                background-image: url('./../../nStatic/img/p-ferries.png');
                background-size: 70%;
                background-position: center;
                background-repeat: no-repeat;
            }
            &.permtsb {
                background-image: url('./../../nStatic/img/p-tsb.png');
                background-size: 70%;
                background-position: center;
                background-repeat: no-repeat;
            }
            &.analysys {
                background-image: url('./../../nStatic/img/p-ana.png');
                background-size: 70%;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        p {
            color: #FEF0FF;
            font-size: 18px;
            line-height: 165%;
            display: block;
        }
        h3 {
            font-size: 22px;
            color: #AF36B9;
            line-height: 165%;
            display: block;
            font-weight: 600;
        }
    }

}